.body{
    background-color: #A79ECD;

}

.bodyWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0 80px 20px;
    gap: 10px;
    @media screen and (max-width: 1300px) {
        flex-direction: column;
        flex-wrap: wrap;
    }
}
.wrapper{
    font-family: 'Montserrat', sans-serif;
    padding: 20px 40px 20px 40px;
    color: #000000;
    width: 50%;
    display: flex;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
    @media screen and (max-width: 1300px) {
        height: auto;
        margin: auto;
    }
}




.text{
    font-size: 18px;
    width: 100%;
    float: left;
}

.title{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    gap: 5px;
    margin-bottom: 20px;

}



.images{
    display: flex;
    object-fit: c;
    @media screen and (max-width: 1300px) {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 50%;
        height: auto;
    }
}

