.headerWrapper{
  font-family: 'Open Sans', sans-serif;
  height: 100px;
  display: flex;
  position: relative;
  z-index: 999;
  width: 100%;
}

.scrolled{
  background-color: #fff;
}

.inner{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}


.headerItems{
  display: flex;
  gap: 80px;
  align-items: center;
  @media screen and (max-width: 992px) {
    display: none;
  }
}

.burger{
  display: none;
  align-items: center;
  min-width: 30px;
  svg{
    width: 30px;
  }
  @media screen and (max-width: 992px) {
    display: flex;
  }
}

.headerItem{
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  padding: 0 5px;
  height: 100%;
  align-items: center;
  display: flex;
  color: black;
  transition: 0.3s;
  position: relative;

  @media screen and (max-width: 1200px) {
    font-size: 16px;
    padding: 0 4px;
  }
}

.headerItem::before {
  content: '';
  position: absolute;
  top: 37px; 
  left: 5px;
  width: 40%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.headerItem:hover::before {
  background-color: #A79ECD;
}

.burgerItem{
  font-size: 16px;
}