.accordion{
    background-color: black;
    width: 100%;
    border-radius: 20px;
    padding: 15px;
    .title{
        color: white;
    }
    .description{
        color: white;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out .5s;
    }
    .descriptionOpen{
        max-height: 1000px;
        margin-top: 20px;
        display: block;
    }
}